<div class="row">

    <div class="col">
        <div class="row cardRow">
            <ng-container *ngFor="let p of products$ | async; let i = index">
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img [src]="p.imageUrl" class="card-img-top" alt="Image">
                        <div class="card-body">
                          <h5 class="card-title">{{ p.title }}</h5>
                          <p class="card-text"> {{ p.price | currency: 'INR': true }} </p>      
                        </div>
                      </div>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"><br></div>
            </ng-container>
        </div>
    </div>
</div>



